html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family:
   /* font-family: 'Arimo' !important;*/
   /* font-style: italic !important;*/
}

@font-face {
  font-family: 'Helvetica';
  src: url(..//fonts/HelveticaNeueLTStd-BlkCn.otf);
  font-weight:300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Medium';
  src: url(..//fonts/HelveticaNeueLTStd-Md.otf);
  font-weight:300;
  font-style: normal;
}

.spanTitulo {
  color:#FF149B;
  font-family: "Helvetica";
  font-weight:300;
}

.spanTexto{
  font-family: "Helvetica-Medium";
  font-weight:200;
  }

.tablaletra{
		font-size: 10px;
		font-family: "Helvetica-Medium";
		font-weight:300;
}

.homeContinuar{
  font-weight:800;
  font-size:20px;
  font-family: "Helvetica-Medium";
  text-align: center;
}

.subtit{
  font-weight:900;
  font-size:26px;
  font-family: "Helvetica-Medium";
  text-align: center;
}

.textcaja{
 font-family: "Helvetica-Medium";
 font-size: 12px;
 font-weight:100;
 text-align: center;
}

input[type=text], input[type=password] {
   color: #FF149B;
   height: 45px;
   font-family: "Helvetica-Medium";
   font-weight:800;
   font-size: 20px;
   text-align: center;
   text-transform: uppercase;
   width:100%;
   margin-left:0px;
 }

 .spanLoading {
   font-family: "Helvetica-Medium";
   font-weight:500;
   font-size: 12px;
   text-align: center;
 }

 .Letratabla{
  font-family: "Helvetica-Medium";
  font-size:28px;
  text-align: center;
  font-weight:800;
 }

 .spanTr {
   font-family: "Helvetica-Medium";
   font-size:28px;
   text-align: center;
   font-weight:800;
   color: #FF149B;
 }

 .LetraDrctTitulo{
   font-family: "Helvetica-Medium";
   font-size:20px;
   font-weight:900;
 }

 .LetraDrctSubTitulo{
   font-family: "Helvetica-Medium";
   font-size:12px;
   font-weight:100;
 }

 .PimaInfo{
  font-size:12px;
  font-family: "Helvetica-Medium";
  font-weight:normal;
  padding-top: 10px;
  padding-bottom: 50px;
 }

 .SubtitPimaInfo{
   padding-top: 10px;
   padding-bottom: 50px;
   font-weight:100;
 }

 .textPrepa{
   font-family: "Helvetica-Medium";
   font-weight:normal;
   text-align:center;
   color:white;
   font-size:14px;
 }

 .ImaAyudaInfo{
   font-family: "Helvetica";
   color:#FF149B;
   font-size:25px;
   font-weight:700;
 }

 .divbarra{
  background-color: #FF149B;
 }

 .divImaDirectorio
 {
   background-color:#FF149B;
   width:100%;
   height:80px;
 }

 .divImaInformacion{
   background-color:#FF149B;
   width:100%;
   height:50px;
 }
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default{
  border-color: white !important;
}

.inputPreguntas {
       max-width: 320px;
}

.inputTexColumna {
    width: 150px!important;
}

.form-control:focus {
    /*border: 1px solid #a888c3 !important;*/
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(194, 171, 212, 2) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(194, 171, 212, 2) !important;
}

input {
    font-style: Helvetica Neue LT Std !important;
}

#wrapper {
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.imgEspacio {
    padding: 15px;
}

.spanSubtitulo {
    font-size: 30px;
}

th {
    font-size: 20px;
    text-align:center
}

.btn-default {
    border-radius: 20px !important;
    width: 250px !important;
    height: 60px !important;
    background-color: #B0AFB5 !important; /*FF139B*/
    color: white !important;
    font-size: 20px !important;
    box-shadow: 5px 5px 3px #737277 !important;
    -webkit-box-shadow: 5px 5px 3px #FF149B !important; /* Safari y Chrome*/
}

.btn-default:hover {
        background-color: #9B9B9B !important;
    }

.btn-primary {
    background-color: #FF139B !important;
    border-color: #FF139B !important;
    width: 110px !important;
    font-style:normal!important;
}

.espacioBtn {
    width: 10px;
    height:2px;
    background-color: pink;
    float:left;
}

.ticket {
    font-style: normal;
}

.ticketSpan {
    font-weight: bold;
}

.ocultar {
    display: none;
}

.spanRemarcar {
    color: black;
    font-weight: bold;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0px!important;
}

.modal-dialog {
    /*padding-top: 100px!important;*/
}

.modal-header {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		height: 45px!important;
	}

.modal-content {
    border-radius: 10px !important;
}

.modal-body {
    padding: 0px!important;
    font-style: normal!important;
}

.ayuda-content {
    width: 350px !important;
    height: 350px !important;
    margin-left: 20%;
}

td {
    padding: 5px;
}

.spanVersion {
    font-size: 10px;
    color: gray;
}

.pJutificar{
    font-size: 16px!important;
    text-align: justify;
    text-justify: inter-word;
	padding:2%;
}

.subtit{
 font-size: 26px;
}

.subtitulo{
    font-family: "HelveticaNeueLTStd-BlkEx.otf" !important;
	font-weight:normal;
}

.divImaInfo{
	width:90%;
	text-align:center;
}

.Imaredes{
 width:100%!important;
}

.Sinbor{
	border: none;
}

.fa {
  padding: 8px !important;
  font-size: 18px !important;
  width: 30px !important;
  text-align: center !important;
  text-decoration: none !important;
/*  margin: 5px 2px !important;*/
}

.fa-facebook {
  background: white!important;
  color: #FF149B  !important;
  border-radius: 8px;
}

.fa-twitter {
  background: white !important;
  color: #FF149B  !important;
  border-radius: 8px;
}

@media screen and (min-width: 100px) {
	.modal-dialog-top {
		padding-top: 150px !important;
	}

	.body-content {
		padding-top: 40px!important;
		margin-bottom: 100px!important;
		padding-top: 40px;
		padding-bottom: 20px;
		margin-top:-20px;
	}

	.glyphicon.glyphicon-home {
		background-image:url(..//Imagenes/home.png);
		background-repeat:no-repeat;
		background-size: 60px 45px;
		background-position:center;
		cursor: pointer;
		width:60px;
		height:70px;
	}

	.glyphicon.glyphicon-lock {
		background-image:url(..//Imagenes/home.png);
		background-repeat:no-repeat;
		background-size: 60px 45px;
		background-position:center;
		cursor: pointer;
		width:60px;
		height:70px;
	}

	.btn-circulo {
    background-image:url(..//Imagenes/imprimir2.png);
    background-repeat: no-repeat;
    background-size: 30px 28px;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    border-radius: 15px !important;
	}
    .btn-circulo:hover,
    .btn-circulo:focus,
    .btn-circulo:active {
		background-image:url(..//Imagenes/imprimir3.png);
    }

	.spanTitulo {
		font-size: 40px;
	}

	.spanTr {
		font-size: 14px;
	}

	.spanTr1 {
	font-family: "HelveticaNeueLTStd-BlkEx.otf";
	font-weight:800;
	font-size: 10px;
	color: black;
	}


  #divFooter {
    margin: 5px !important;
  }

  #divFooter button{
    height:37px;
    width:110px;
    border-radius: 8px;
    margin-top:20px;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: white;
  }

     .botonimagen{
        background-image:url(..//Imagenes/bn_Directorio.png);
    }

    .botonimagen1{
        background-image:url(..//Imagenes/bn_informacion.png);

    }

	.botonimagenCons{
		  background-image:url(..//Imagenes/Consulta.png);
		  background-repeat:no-repeat;
		  height:40px;
		  width:150px;
		  background-size: 151px 41px;
		  background-position:center;
      background-color: white;
      background-color: white;

	}
	input.botonimagenCons:hover, .button:hover{
	background-image:url(..//Imagenes/Consulta1.png);
	background-repeat:no-repeat;
	height:40px;
	width:150px;
	background-size: 151px 41px;
	background-position:center;
  background-color: white;
	}

	.botonimagenCambioNip{
		  background-image:url(..//Imagenes/CambioNip1.png);
		  background-repeat:no-repeat;
		  height:40px;
		  width:150px;
		  background-size: 151px 41px;
		  background-position:center;
      background-color: white;

	}
	input.botonimagenCambioNip:hover, .button:hover{
		  background-image:url(..//Imagenes/CambioNip2.png);
		  background-repeat:no-repeat;
		  height:40px;
		  width:150px;
		  background-size: 151px 41px;
		  background-position:center;
      background-color: white;
	}

	.textcaja{
	 font-size: 12px;
	}

	.Icono {
        width:30%;
		height:30%;
		margin-left:40%;
    }

	.Textpop {
        text-align:center;
    }


    .btns{
      width: 97px;
      height: 30px;
      background-repeat: no-repeat;
      border: none;
      border-image-width: 0px;
      border-radius: 8px 0px 0px 8px;
      background-size: contain;
      background-color: white;
      border-radius: 8px;
    }

    .btnCancelarImg{
      background-image:url(..//Imagenes/bn_cancelar1.png);

    }

    .btnAceptarImg{
      background-image:url(..//Imagenes/bn_Aceptar1.png);

    }


	.contenidoLayout{
		height:10px;
	}

	.contenidoLayout>div[id^="pantalla"]{
		height:10px;
	}

	.text1{
        /*width:70%;
		font-size:30px;
		height:40px;*/
		font-size:20px;
	    text-align:center;

    }

	 input[type=text], input[type=password] {
        font-size: 16px;
    }

	.spanTexto{
		font-size: 9px;
    }

	.tablaletra{
		font-size: 10px;
    }

	.imacirpalomita{
	height: 30px;
	margin-top: 15px;
	}

	.divbarra{
	  padding:.30em;
	  margin-top:5px;
	  width:100%;
	}

  .rowdivfoter, #altura1 {
    position: absolute;
    bottom: -450px;
}
.rowdivfoter, #altura {
    margin-top: -90px;
    position: absolute;
    bottom: -250px;
}

	.imaheader{
			 height: 40px;
			 margin-top: 10px;
			 width:60%;
	}

	.Imagracias{
			width:80%;
			height:80%;
			margin-top:80px;
	}

	.Load{
	width:50%;
	}

	.Reloj{
		width:20%;
	}

	.letra{
	 font-family: "HelveticaNeueLTStd-BlkEx.otf";
	 font-size:14px;
	 font-weight: bold;
	 margin:22px;
	 margin-top:-20px;
	}

	p {
		font-style: normal;
		font-size: 12px;
	}

	.directorio-content {
		width: 90% !important;
		margin-left: 5%;
		height: 90%!important;

	}

	.spanLoading {
		font-size: 12px;
	}

	.Letratabla{
	 font-size:16px;
	}

.LetraDrctTitulo{
		font-size:16px;
	}

	.LetraDrctSubTitulo{
		font-size:10px
	}

	.dft-footer-nav.v2{
		position: relative;
	}

	.dft-footer-nav__content {
		/*max-width: 65vw;*/
		margin: 0 auto ;
	}

	.homeContinuar{
		font-size:20px;
	}

	.divImaDirectorio
	{
		width:100%;
		height:80px;
	}

	.ImaDirectorio{
		width:20%!important;
		margin-top:15px;
		vertical-align:text-bottom;
	}

	.TextoDirectorio{
		color:white;
		font-weight:900;
		font-size:30px;
	}

	.divImaInformacion{
		width:100%;
		height:50px;
	}

	.tdImaInformacion{
		width:50%;
		text-align:center;
		height: 50px;
	}

	.ImaInfofbTw{
		width:15%!important;
		border-radius: 4px;
	}

	.textPrepa{
    font-size:10px;
	}

	.ImaInfo{
	width:15%!important;
	vertical-align: bottom;
	}

	.ImaAyudaInfo{
	 font-size:25px;
	}

  .PimaInfo{
  	font-size: 10px;
  }

  .SubtitPimaInfo{
  	padding-top: 10px;
  	padding-bottom: 50px;
  	font-weight:600;
  }

}

@media screen and (min-width: 400px) {
	.modal-dialog-top {
		padding-top: 150px !important;
	}

	.body-content {
		padding-top: 40px!important;
		margin-bottom: 100px!important;
		padding-top: 40px;
		padding-bottom: 20px;
		margin-top:-20px;
	}

	.glyphicon.glyphicon-home {
		background-image:url(..//Imagenes/home.png);
		background-repeat:no-repeat;
		background-size: 60px 45px;
		background-position:center;
		cursor: pointer;
		width:100px;
		height:100px;

	}

	.glyphicon.glyphicon-lock {
    background-image:url(..//Imagenes/home.png);
    background-repeat:no-repeat;
    background-size: 60px 45px;
    background-position:center;
    cursor: pointer;
	  width:100px;
	  height:100px;
	}

	.btn-circulo {
    background-image:url(..//Imagenes/imprimir2.png);
    background-repeat:no-repeat;
    background-size: 30px 26px;
    background-position:center;
    width: 26px !important;
    height: 26px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.42 !important;
    border-radius: 15px !important;
	}
    .btn-circulo:hover,
    .btn-circulo:focus,
    .btn-circulo:active {
		background-image:url(..//Imagenes/imprimir3.png);
    }

	.spanTitulo {
		font-size: 40px;
	}

	.spanTr {
		font-size: 14px;
	}

	.spanTr1   {
	font-family: "HelveticaNeueLTStd-BlkEx.otf";
	font-weight:800;
	font-size: 10px;
	color: black;
	}

	.#divFooter {
    margin: 5px !important;
  }

  #divFooter button{
    height: 40px;
    width: 120px;
    border-radius: 8px;
    margin-top:20px;
    background-repeat:no-repeat;
    background-size: cover;
  }

  .botonimagen{
  		  background-image:url(..//Imagenes/bn_Directorio.png);
  }

  .botonimagen1{
  		  background-image:url(..//Imagenes/bn_informacion.png);

  }

	input.botonimagenCons:hover, .button:hover{
	background-image:url(..//Imagenes/Consulta1.png);
	background-repeat:no-repeat;
	height:40px;
	width:150px;
	background-size: 151px 41px;
	background-position:center;

	}

	.botonimagenCambioNip{
		  background-image:url(..//Imagenes/CambioNip1.png);
		  background-repeat:no-repeat;
		  height:40px;
		  width:150px;
		  background-size: 151px 41px;
		  background-position:center;

	}
	input.botonimagenCambioNip:hover, .button:hover{
		  background-image:url(..//Imagenes/CambioNip2.png);
		  background-repeat:no-repeat;
		  height:40px;
		  width:150px;
		  background-size: 151px 41px;
		  background-position:center;

	}

	.textcaja{
	 font-size: 12px;
	}

	.Icono {
        width:30%;
		height:30%;
		margin-left:40%;
    }

	.Textpop {
        text-align:center;
    }

    .btns{
      width: 97px;
      height: 30px;
      background-repeat: no-repeat;
      border: none;
      border-image-width: 0px;
      border-radius: 8px 0px 0px 8px;
      background-size: contain;
      background-color: white;
      border-radius: 8px;
    }

    .btnCancelarImg{
      background-image:url(..//Imagenes/bn_cancelar1.png);

    }

    .btnAceptarImg{
      background-image:url(..//Imagenes/bn_Aceptar1.png);

    }

	.contenidoLayout{
		height:10px;
	}

	.contenidoLayout>div[id^="pantalla"]{
		height:10px;
	}

	.text1{
        /*width:70%;
		font-size:30px;
		height:40px;*/
		font-size:20px;
	    text-align:center;

    }

	 input[type=text], input[type=password] {
		 font-size: 18px;
    }

	.spanTexto{
		font-size: 9px;
    }

	.tablaletra{
		font-size: 10px;
    }

	.imacirpalomita{
	height: 30px;
	margin-top: 15px;
	}

	.divbarra{
	  padding:.30em;
	  margin-top:5px;
	  width:100%;
	}

  .rowdivfoter,#altura{
    margin-top: -90px;
    position: absolute;
    bottom: -80px;
	}

	.rowdivfoter,#altura1{
    position: absolute;
    bottom: -390px;
	}

	.imaheader{
			 height: 40px;
			 margin-top: 10px;
			 width:60%;
	}

	.Imagracias{
			width:80%;
			height:80%;
			margin-top:80px;
	}

	.Load{
	width:50%;
	}

	.Reloj{
		width:15%;
	}

	.letra{
	 font-family: "HelveticaNeueLTStd-BlkEx.otf";
	 font-size:14px;
	 font-weight: bold;
	 margin:22px;
	 margin-top:-20px;
	}

	p {
		font-style: normal;
		font-size: 12px;
	}

	.directorio-content {
		width: 90% !important;
		margin-left: 5%;
		height: 90%!important;

	}

	.spanLoading {
		font-size: 12px;
	}

	.Letratabla{
	 font-size:16px;
	}

  .LetraDrctTitulo{
		font-size:16px;
	}

	.LetraDrctSubTitulo{
		font-size:10px
	}

	.dft-footer-nav.v2{
		position: relative;
	}

	.dft-footer-nav__content {
		/*max-width: 65vw;*/
		margin: 0 auto ;
	}

	.homeContinuar{
		font-size:30px;
	}

	.divImaDirectorio{
		width:100%;
		height:80px;
	}

	.ImaDirectorio{
		width:10%!important;
		margin-top:15px;
		vertical-align:super;
	}

	.TextoDirectorio{
		color:white;
		font-weight:900;
		font-size:30px;
	}

	.divImaInformacion{
		width:100%;
		height:50px;
	}

	.tdImaInformacion{
		width:50%;
		text-align:center;
		height: 50px;
	}

	.ImaInfofbTw{
		width:13%!important;
		border-radius: 4px;
	}

	.textPrepa{
		font-size: 10px;
	}

	.ImaInfo{
	width:15%!important;
	vertical-align: bottom;
	}

	.ImaAyudaInfo{
	font-size:30px;
	}

  .PimaInfo{
  	font-size: 10px;
  }

  .SubtitPimaInfo{
  	padding-top: 10px;
  	padding-bottom: 50px;
  	font-weight:600;
  }

}

@media screen and (min-width: 550px) {
	.modal-dialog-top {
		padding-top: 300px !important;
	}

	.body-content {
		padding-top: 70px!important;
		margin-bottom: 100px!important;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.glyphicon.glyphicon-home {
		background-image:url(..//Imagenes/home.png);
		background-repeat:no-repeat;
		background-size: 100px 90px;
		background-position:center;
		cursor: pointer;
		width:100px;
		height:100px;
	}

	.glyphicon.glyphicon-lock {
    background-image:url(..//Imagenes/home.png);
    background-repeat:no-repeat;
    background-size: 100px 90px;
    background-position:center;
    cursor: pointer;
	  width:100px;
	  height:100px;
	}

	.btn-circulo {
     background-image:url(..//Imagenes/imprimir2.png);
    background-repeat:no-repeat;
    background-size: 36px 30px;
    background-position:center;
    width: 32px !important;
    height: 32px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.42 !important;
    border-radius: 15px !important;
   }
    .btn-circulo:hover,
    .btn-circulo:focus,
    .btn-circulo:active {
		background-image:url(..//Imagenes/imprimir3.png);
    }

	.spanTitulo {
		font-size: 70px;
	}

	.spanTr {
		font-size: 18px;
	}

	.spanTr1 {
		font-family: "HelveticaNeueLTStd-BlkEx.otf";
		font-weight:800;
		font-size: 20px;
		color: black;
	}

  #divFooter {
    margin: 5px !important;
  }

  #divFooter button{
    height:65px;
    width:200px;
    border-radius: 8px;
    margin-top:20px;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: white;
  }

  	 .botonimagen{
  		  background-image:url(..//Imagenes/bn_Directorio.png);
  	}

    .botonimagen1{
  		  background-image:url(..//Imagenes/bn_informacion.png);

  	}

	/*.pImagenfotter1{
		color: white;
		background-color: black;
		width: 133px;height: 65px;
		font-weight: 900;
		font-size: 16px;
		margin: auto;
		border-radius:0 8px 8px 0;
		float:right;
		padding-top:20px;
		font-family: "HelveticaNeueLTStd-BlkEx.otf";
	}*/

		.botonimagenCons{
      background-image:url(..//Imagenes/Consulta.png);
	  background-repeat:no-repeat;
	  height:60px;
	  width:250px;
	  background-size: 251px 61px;
	  background-position:center;

  }
	input.botonimagenCons:hover, .button:hover{
    background-image:url(..//Imagenes/Consulta1.png);
	  background-repeat:no-repeat;
	  height:60px;
	  width:250px;
	  background-size: 251px 61px;
	  background-position:center;

  }

	.botonimagenCambioNip{
		  background-image:url(..//Imagenes/CambioNip1.png);
		  background-repeat:no-repeat;
		  height:60px;
		  width:250px;
		  background-size: 251px 61px;
		  background-position:center;
	}
	input.botonimagenCambioNip:hover, .button:hover{
		  background-image:url(..//Imagenes/CambioNip2.png);
		  background-repeat:no-repeat;
		  height:60px;
		  width:250px;
		  background-size: 251px 61px;
		  background-position:center;
	}

	.textcaja{
	 font-size: 20px;
	}

	.Icono {
       /* width:350%;
		height:100%;*/
		margin-left:35%;
		margin-top:10px;
    }

	.Textpop {
        text-align:center;
    }

    .btns{
      width: 143px;
      height: 45px;
      background-repeat: no-repeat;
      border: none;
      border-image-width: 0px;
      border-radius: 8px 0px 0px 8px;
      background-size: contain;
      background-color: white;
      border-radius: 8px;
    }

    .btnCancelarImg{
      background-image:url(..//Imagenes/bn_cancelar1.png);

    }

    .btnAceptarImg{
      background-image:url(..//Imagenes/bn_Aceptar1.png);

    }

	.contenidoLayout{
		height:100px;
	}

	.contenidoLayout>div[id^="pantalla"]{
		height:100px;
	}

	.text1{
        width:100%;
		font-size:30px;
	    text-align:center;
    }

	 input[type=text], input[type=password] {
   		font-size: 20px;
    }

	.spanTexto{
		font-size: 16px;
    }

	.tablaletra{
		font-size: 12px;
		width:70%;
		margin-top:50px;
    }

	.imacirpalomita{
	height: 70px;
	margin-top: 15px;
	}

	.divbarra{
	  padding:.40em;
	  margin-top:15px;
	  width:100%;
	}

	.rowdivfoter,#altura{
    margin-top: -90px;
    position: absolute;
    bottom: -80px;
	}

	.rowdivfoter,#altura1{
    position: absolute;
    bottom: -450px;
	}

	.imaheader{
			 height: 60px;
			 height: 60px;
			 margin-top: 10px;
			 width:70%;
	}

	.Imagracias{
			 width:70%;
			 height:70%;
			 margin-top:150px;
	}

	.Load{
		width:50%;
	}

	.Reloj{
		width:15%;
	}

	.letra{
	 font-family: "HelveticaNeueLTStd-BlkEx.otf";
	 font-size:20px;
	 font-weight: bold;
	 margin-top:-13px;
	}

	p {
		font-style: normal;
		font-size: 18px;
	}

	.directorio-content {
		width: 90% !important;
		margin-left: 10%;
		height: 90%!important;

	}

	.spanLoading {
		font-size: 12px;
	}

	.Letratabla{
	 font-size:28px;
	}

 .LetraDrctTitulo{
		font-size:20px;
	}

	.LetraDrctSubTitulo{
		font-size:12px
	}

	.dft-footer-nav.v2{
		position: relative;
	}

	.homeContinuar{
		font-size:40px;
	}

	.divImaDirectorio
	{
		width:100%;
		height:80px;
	}

	.ImaDirectorio{
		width:10%!important;
		margin-top:15px;
		vertical-align:text-bottom;
	}

	.TextoDirectorio{
		color:white;
		font-weight:900;
		font-size:40px;
	}

	.divImaInformacion{
		width:100%;
		height:50px;
	}

	.tdImaInformacion{
		width:50%;
		text-align:center;
		height: 50px;
	}

	.ImaInfofbTw{
		width:13%!important;
		border-radius: 4px;
	}

  .textPrepa{
		font-size: 14px;
	}

	.ImaInfo{
	width:15%!important;
	vertical-align: bottom;
	}

	.ImaAyudaInfo{
	font-size:50px;
	}

  .PimaInfo{
  	font-size: 18px;
  }

  .SubtitPimaInfo{
  	padding-top: 10px;
  	padding-bottom: 50px;
  	font-weight:600;
  }
}

@media screen and (min-width: 800px) {

  .modal-dialog-top {  padding-top: 300px !important;	}

	.body-content {
		padding-top: 70px!important;
		margin-bottom: 100px!important;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.glyphicon.glyphicon-home {
		background-image:url(..//Imagenes/home.png);
		background-repeat:no-repeat;
		background-size: 100px 90px;
		background-position:center;
		cursor: pointer;
		width:100px;
		height:100px;
	}

	.glyphicon.glyphicon-lock {
    background-image:url(..//Imagenes/home.png);
    background-repeat:no-repeat;
    background-size: 100px 90px;
    background-position:center;
    cursor: pointer;
  	width:100px;
  	height:100px;
	}

	.btn-circulo {
    background-image:url(..//Imagenes/imprimir2.png);
    background-repeat: no-repeat;
    background-size: 30px 28px;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    border-radius: 15px !important;
    }

  .btn-circulo:hover,
  .btn-circulo:focus,
  .btn-circulo:active {
		background-image:url(..//Imagenes/imprimir3.png);
  }

	.spanTitulo {
		font-size: 80px;
	}

	.spanTr {
		font-size: 18px;
	}

	.spanTr1 {
		font-family: "HelveticaNeueLTStd-BlkEx.otf";
		font-weight:800;
		font-size: 20px;
		color: black;
	}

#divFooter {
  margin: 5px !important;
}

#divFooter button{
  height:65px;
  width:200px;
  border-radius: 8px;
  margin-top:20px;
  background-repeat:no-repeat;
  background-size: cover;
}

	 .botonimagen{
		  background-image:url(..//Imagenes/bn_Directorio.png);
	}

  .botonimagen1{
		  background-image:url(..//Imagenes/bn_informacion.png);

	}

	.pImagenfotter1{
		color: white;
		background-color: black;
		width: 133px;height: 65px;
		font-weight: 900;
		font-size: 16px;
		margin: auto;
		border-radius:0 8px 8px 0;
		float:right;
		padding-top:20px;
		font-family: "HelveticaNeueLTStd-BlkEx.otf";
	}

	.botonimagenCons{
      background-image:url(..//Imagenes/Consulta.png);
  	  background-repeat:no-repeat;
  	  height:60px;
  	  width:250px;
  	  background-size: 251px 61px;
  	  background-position:center;
    }
    input.botonimagenCons:hover, .button:hover{
  	  background-image:url(..//Imagenes/Consulta1.png);
  	  background-repeat:no-repeat;
  	  height:60px;
  	  width:250px;
  	  background-size: 251px 61px;
  	  background-position:center;
	 }

	.botonimagenCambioNip{
		  background-image:url(..//Imagenes/CambioNip1.png);
		  background-repeat:no-repeat;
		  height:60px;
		  width:250px;
		  background-size: 251px 61px;
		  background-position:center;
	}
	input.botonimagenCambioNip:hover, .button:hover{
		  background-image:url(..//Imagenes/CambioNip2.png);
		  background-repeat:no-repeat;
		  height:60px;
		  width:250px;
		  background-size: 251px 61px;
		  background-position:center;
	}

	.textcaja{
	 font-size: 20px;
	 margin-top:10px;
	}

	.Icono {
    width:50%;
		height:100%;
		margin-left:40%;
    }

	.Textpop {
        text-align:center;
    }

	.contenidoLayout{
		height:500px;
	}

	.contenidoLayout>div[id^="pantalla"]{
		height:500px;
	}

	.btns{
    width: 143px;
		height: 45px;
		background-repeat: no-repeat;
		border: none;
    border-image-width: 0px;
		border-radius: 8px 0px 0px 8px;
    background-size: contain;
    background-color: white;
    border-radius: 8px;
  }

  .btnCancelarImg{
    background-image:url(..//Imagenes/bn_cancelar1.png);

  }

  .btnAceptarImg{
    background-image:url(..//Imagenes/bn_Aceptar1.png);

  }

	.pbtncolorCan
	{
		color: white;
		background-color: black;
		width: 100px;
		height: 45px;
		font-weight: 900;
		font-size: 16px;
		margin: auto;
		border-radius: 0 8px 8px 0;
		padding-top: 13px;
		font-family: "HelveticaNeueLTStd-BlkEx.otf";
	}

	.pbtncolorAc{
		color: white;
		background-color: black;
		width: 100px;
		height: 45px;
		font-weight: 900;
		font-size: 16px;
		margin: auto;
		border-radius: 0 8px 8px 0;
		padding-top: 13px;
		font-family: "HelveticaNeueLTStd-BlkEx.otf";
	}

	.text1{
        width:100%;
		font-size:30px;
	    text-align:center;
    }

	input[type=text], input[type=password] {
		font-size: 20px;
  }

	.spanTexto{
		font-size: 26px;
    }

    .spanLoading {
      font-size: 20px;
    }

	.tablaletra{
		font-size: 20px;
		width:40%;
    }

	.imacirpalomita{
	height: 70px;
	margin-top: 15px;
	}

	.divbarra{
	  padding:.40em;
	  margin-top:15px;
	  width:100%;
	}

	.rowdivfoter,#altura{
		/*margin-top: -90px;*/
    position: absolute;
    bottom: -80px;
	}

	.rowdivfoter,#altura1{
    position: absolute;
    bottom: -80px;
	}

	.imaheader{
			 height: 70px;
			 margin-top: 15px;
			 /*width:100%;*/
	}

	.Imagracias{
			 width:50%;
			 height:50%;
			 margin-top:70px;
	}

	.Load{
	width:30%;
 }

	.Reloj{
		width:6%;
	}

	.letra{
	 font-family: "HelveticaNeueLTStd-BlkEx.otf";
	 font-size:20px;
	 font-weight: bold;
	 margin-top:-13px;
	}

	p {
		font-style: normal;
		font-size: 18px;
	}

	.directorio-content {
		width: 90% !important;
		margin-left: 5%;
		height: 90%!important;

	}

	.Letratabla{
	 font-size:22px;
	}

	.LetraDrctTitulo{
		font-size:20px;
	}

	.LetraDrctSubTitulo{
		font-size:12px
	}

	.dft-footer-nav.v2{
		position: relative;
	}

	.homeContinuar{
		font-size:40px;
	}

	.divImaDirectorio{
		width:100%;
		height:80px;
	}

	.ImaDirectorio{
		width:10%!important;
		margin-top:15px;
		vertical-align:text-bottom;
	}

	.TextoDirectorio{
		color:white;
		font-weight:700;
		font-size:40px;
	}

	.divImaInformacion{
		width:100%;
		height:50px;
	}

	.tdImaInformacion{
		width:50%;
		text-align:center;
		height: 50px;
	}

	.ImaInfofbTw{
		width:13%!important;
		border-radius: 4px;
	}

  .textPrepa{
		font-size: 14px;
	}

	.ImaInfo{
	width:15%!important;
	vertical-align: bottom;
	}

	.ImaAyudaInfo{
	font-size:50px;
	}

  .PimaInfo{
  	font-size: 18px;
  }

  .SubtitPimaInfo{
  	padding-top: 10px;
  	padding-bottom: 50px;
  	font-weight:600;
  }
}
